.crypto-content {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: Space Grotesk, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 2rem 1rem;
  border-bottom: 2px solid #fff;
  background-color: transparent;

  span {
    display: flex;
    align-items: center;
    min-width: 250px;
    text-align: left;

    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }
  }

  p {
    text-align: right;
    min-width: 175px;
  }

  .green {
    color: rgb(0, 179, 0);
  }
  .red {
    color: red;
  }
}

.crypto-content:hover {
  background-color: rgba(67, 0, 103, 0.372);
}
